{{> admin/navbar }}
<div class="px-3">
  <section>
    <!-- Project -->
    <div class="card px-3 py-3">
      <h2 class="title">나의 실험 목록</h1>
        <table class="table is-fullwidth has-text-centered" id="projects-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>연구자</th>
              <th>액션</th>
            </tr>
          </thead>
          <tbody class="is-vcentered">
            {{#each experiments as |experiment|}}
            <tr>
              <td>
                {{ experiment.id }}
              </td>
              <td>
                {{ experiment.name }}
              </td>
              <td>
                <a href="/admin/users/{{ experiment.author.email }}">
                  {{ experiment.author.name }}
                </a>
              </td>
              <td>
                <a href="/admin/experiments/{{ experiment.id }}" class="button is-info is-small is-centered">
                  <i class="fa fa-edit mr-1"></i>수정
                </a>
                <button data-experiment-id="{{ experiment.id }}" type="button"
                  class="button delete-experiment-button is-danger is-small is-centered">
                  <i class="fa fa-trash mr-1"></i>삭제
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <a href="/admin/experiments/new" class="button is-primary is-pulled-right mr-2 mb-6">
              새로운 실험
            </a>
          </tfoot>
        </table>
    </div>
    <div class="card px-3 py-3">
      <h2 class="title">전체 실험 목록</h1>
        <table class="table is-fullwidth has-text-centered" id="projects-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>연구자</th>
              <th>액션</th>
            </tr>
          </thead>
          <tbody class="is-vcentered">
            {{#each experiments as |experiment|}}
            <tr>
              <td>
                {{ experiment.id }}
              </td>
              <td>
                {{ experiment.name }}
              </td>
              <td>
                <a href="/admin/users/{{ experiment.author.email }}">
                  {{ experiment.author.name }}
                </a>
              </td>
              <td>
                <a href="/admin/experiments/{{ experiment.id }}" class="button is-info is-small is-centered">
                  <i class="fa fa-edit mr-1"></i>수정
                </a>
                <button data-experiment-id="{{ experiment.id }}" type="button"
                  class="button delete-experiment-button is-danger is-small is-centered">
                  <i class="fa fa-trash mr-1"></i>삭제
                </button>
                <button data-experiment-id="{{ experiment.id }}" type="button"
                  class="button fork-experiment-button is-secondary is-small is-centered">
                  <i class="fa fa-copy mr-1"></i>사본만들기
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </section>
</div>
<script>
  $(document).ready(() => {
    $(".delete-experiment-button").on("click", (event) => {
      const experimentId = $(event.target).attr("data-experiment-id");
      $.ajax({ method: "delete", url: `/api/experiments/${experimentId}` })
        .done(() => {
          alert("성공적으로 삭제되었습니다");
        })
        .fail((error) => {
          alert("삭제에 실패하였습니다");
        })
        .always((result) => {
          window.location.reload();
        });
    });
    $(".fork-experiment-button").on("click", event => {
      const experimentId = $(event.target).attr("data-experiment-id");
      const result = confirm("사본을 생성합니다. 생성된 사본은 연구자님 소유이며 이름은 <원본 실험 제목> + copy입니다.\n");
      if (result) {

      }
    })
  });
</script>