{{> admin/navbar }}
<div class="px-3 pb-6">
  <div class="container">
    <h1 class="title">유저 상세</h1>
    <form action="/admin/users/{{ user.email }}" method="POST">
      <div class="columns">
        <label for="name" class="column">
          이름
          <input type="text" class="input" name="name" id="" value="{{ user.name }}" disabled />
        </label>
      </div>
      <div class="columns">
        <label for="name" class="column">
          이메일
          <input type="email" class="input" name="email" id="" value="{{ user.email }}" disabled />
        </label>
      </div>
      <div class="columns">
        <label for="name" class="column">
          전화번호
          <input type="phone" class="input" name="phone" id="" value="{{ user.phone }}" disabled />
        </label>
      </div>
      <div class="columns">
        <label for="level" class="column">
          권한 설정
          <input type="number" class="input" name="level" id="" value="{{ user.level }}" />
        </label>
      </div>
      <div class="content mt-6">
        <h6>유저 레벨 안내</h6>
        <ol>
          <li>0 ~ 99: <code>실험대상자</code></li>
          <li>100 ~ 199: <code>연구자</code></li>
          <li>200 ~: <code>관리자</code></li>
        </ol>
      </div>
      <h1 class="title col">
        참여 프로젝트 관리
        <button type="button" class="button col" onclick="$('#manage-participating-projects').toggle()">접기/펴기</button>
      </h1>
      <div class="card px-3 py-3 mb-6" id="manage-participating-projects">
        <h2>참여중인 프로젝트</h2>
        <table class="table is-bordered is-hoverable is-fullwidth has-text-centered" id="assigned-projects">
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>소유자</th>
              <th>액션</th>
            </tr>
          </thead>
          <tbody>
            {{#each assignedProjects as | project |}}
            <tr>
              <td>{{project.id}}</td>
              <td>
                <a href="/admin/users/{{project.id}}">
                  {{project.name}}
                </a>
              </td>
              <td>
                <a href="/admin/users/{{project.author.email}}">
                  {{project.author.name}}
                </a>
              </td>
              <td>
                <span data-project-id="{{project.id}}" class="button py-0 is-danger disconnect-participant-to-project">
                  제거
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <h2>참여중이지 않은 프로젝트</h2>
        <table class="table is-bordered is-hoverable is-fullwidth has-text-centered" id="unassigned-projects">
          <thead>
            <tr>
              <th>ID</th>
              <th>이름</th>
              <th>소유자</th>
              <th>액션</th>
            </tr>
          </thead>
          <tbody>
            {{#each unassignedProjects as | project |}}
            <tr>
              <td>{{project.id}}</td>
              <td>
                <a href="/admin/users/{{project.id}}">
                  {{project.name}}
                </a>
              </td>
              <td>
                <a href="/admin/users/{{project.author.email}}">
                  {{project.author.name}}
                </a>
              </td>
              <td>
                <span data-project-id="{{project.id}}" class="button py-0 is-success connect-participant-to-project">
                  추가
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="row mt-3">
        <button type="submit" class="button is-success is-pulled-right">저장하기</button>
      </div>
      <div class="row mt-3">
        <button type="button" id="delete-this-user"
          class="button is-danger is-pulled-right delete-this-user">삭제하기</button>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(() => {
    $("#assigned-projects").DataTable();
    $("#unassigned-projects").DataTable();

    $('#delete-this-user').on('click', () => {
      $.ajax({
        method: "delete",
        url: "/api/users/{{user.email}}"
      }).then(() => {
        alert('삭제되었습니다.')
        window.location.href = "/admin/users"
      }).catch(() => {
        alert('삭제에 실패했습니다')
      }).always((response) => {
        console.log(response)
      })
    })

    $("span.connect-participant-to-project").on("click", (event) => {
      const projectId = $(event.target).attr("data-project-id");
      const participantEmail = "{{user.email}}"
      $.ajax({ method: 'get', url: "/api/users/assign-project", data: { participantEmail, projectId } }).then(res => {
        console.log(res)
      }).always(() => {
        window.location.reload()
      })
    });

    $("span.disconnect-participant-to-project").on("click", (event) => {
      const projectId = $(event.target).attr("data-project-id");
      const participantEmail = "{{user.email}}"
      $.ajax({ method: 'get', url: '/api/users/disassign-project', data: { participantEmail, projectId } }).then(res => {
        console.log(res)
      }).always(() => {
        window.location.reload()
      });
    })
  });


</script>